/********* Set the color variables************/
:root {
  /* potential color theme 1 */
    --primary-color: #86340A;
    --secondary-color: #C36839;
    --primary-font-color:black; 
    --secondary-font:#E8D0B3;
    --bg-color: #7EB5A6;

     /* potential color theme 2 */
/*     --primary-color: #A06EE1;
    --secondary-color: #CBBCF6;
    --primary-font-color:black; 
    --secondary-font:#CEF9E2;
    --bg-color: #421B9B; */
}
/*********************************************/


/*********** Format for entire page ***********/
* {
    margin:0;
}

body{
     background-color: var(--bg-color);
     margin:15px;
}
/*********************************************/

/********* Format Score ***********/
aside {
    float:right;
    background-color:var(--primary-color);
    color:var(--secondary-font);
    padding:15px;
    border-radius:15px;
    width:20%;
}

#history {
    list-style-type:square;
}
/***********************************************/


/*********** Format the top nav bar **********/
#nav_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
}

.nav_item {
  float: left;
}

.nav_item a {
  display: block;
  color: var(--secondary-font);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--primary-color);

}

li a:hover {
  background-color: var(--secondary-color);
  color:var(--primary-color);
}

.material-icons{
    margin:15px;
    color:var(--secondary-font);
}
/**********************************************/


/*********** Format the game board ***********/
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 410px;
    height: 410px;
    background-color: black;    
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: orange;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
/*********************************************/


/********** Format How to Play ***************/
button{
  background-color: var(--primary-color);
  color: var(--secondary-font);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button, #how_to{
  margin-top:15px;
  margin-bottom:15px;
}

#how_to{
  /* start by having instructions hidden */
  display:none; 
  color:var(--secondary-font);
  background-color:var(--primary-color);
  padding:15px;
  border-radius:15px;
}

/* format animation image */
.animation{
  display: grid;
  grid-template-columns: auto;
  float:right;
  text-align:center;
}
/*********************************************/


h1, h4{
        background-color:var(--secondary-color);
        padding:15px;
        text-align:center;
}


header, footer{
    margin-top:15px;
    margin-bottom:15px;   
    border-style:double
}

a{
    background-color:transparent;
}

