:root {
    --primary-color: #161D6F;
    --secondary-color: #98DED9;
    --primary-font-color:black; 
    --secondary-font:#C7FFD8;
    --bg-color: #F6F6F6;
    --heading-color: #98DED9;
}

* {
    background-color: var(--bg-color);
    margin:0;
}

a{
    background-color:transparent;
}

h1, h4{
        background-color:var(--secondary-color);
        padding:15px;
}

header, footer{
    margin:15px;
    border-style:double
}

article{
    margin:15px;
}

/* Format the top nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-color);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--secondary-font);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: var(--primary-color);

}

li a:hover {
  background-color: var(--secondary-color);
  color:var(--primary-color);
}

.grid{
  display:flex;
  flex-wrap:wrap;
  margin-left:15px;
  width:400px;
  height:400px;
  background-color: var(--secondary-color);
}

.grid div{
  width:100px;
  height: 100px;
  background-color:var(--heading-color);
}
